:root {
  --primary-color: rgb(51, 153, 90);
  --app-color: rgba(51, 102, 153, .05);

  --header-height: 64px
 }

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: lighter;
  font-family: Verdana, Tahoma, sans-serif;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,0.15);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,.2);
  border-radius: 32px;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

p {
  font-size: 16px;
}

p.small {
  font-size: 12px;
}

.Mui-focused fieldset {
  border-color: var(--primary-color)!important;
}

.Mui-focused label {
  color: var(--primary-color)!important;
}

.MuiInputLabel-shrink {
  color: var(--primary-color)!important;
}

.Mui-selected {
  background-color: var(--primary-color) !important;
  color: white !important;
}
